.container {
    background-color: rgb(195, 43, 226);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    border: none;
}

.name {
    font-size: 22px;
    color: white;
}
p {
    margin: 0;
    font-family: roboto, Arial;
}
body {
    margin: 0;
}