.addstore-container {
    text-align: center;
    vertical-align: center;
}

.addstore-button {
    margin-top: 10px;
    background-color: white;
    color: rgb(195, 43, 226);
    border-color: rgb(195, 43, 226);
    border-style: solid;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}